.menuRight {
    text-align: right;
}
.menu_size {
    width: 25px;
    height: 50px;
    margin: 10px 15px 0 0;
}
.card_flex {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
}
.gray {
    background-color: gray;
}
